.container
    .action_page
        .action__image
            img.action__poster(src="./images/action_poster.jpg" srcset="./images/action_poster3x.jpg 3x" alt="")
        .action_text 
            h1 Скидки до 70% на товары для гейминга
            span.action_text__subtitle c 8 октября до 26 октября

            .action_text__description
                p В период с 8 по 26 октября не пропустите скидки до 70% товары для геймеров. Выбирайте товары из акционного списка 
                    | и при оформлении заказа укажите промокод "GAMER" для активации скидки.
                p Цены снижены на компьютеры, ноутбуки, ЖК мониторы, наушники, игровые кресла, геймпады, компьютерные мыши, клавиатуры, коврики для мыши.
                p Купите товары для геймеров со скидкой до 70%, гарантией и доставкой в интернет-магазине ЭЛЕКТРОСИТИ. Выгодные цены на товары для геймеров на electrocity.ru!

