// grid breakpoints
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// container max widths
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;
$container-xxl: 1320px;


$grid-breakpoints: (
        xs: $screen-xs,
        sm: $screen-sm,
        md: $screen-md,
        lg: $screen-lg,
        xl: $screen-xl,
        xxl: $screen-xxl,
);

$container-max-widths: (
        sm: $container-sm,
        md: $container-md,
        lg: $container-lg,
        xl: $container-xl,
        xxl: $container-xxl,
);





