// $font-family-secondary: 'Open Sans', sans-serif;

$alert-success: #28A745;
$alert-info: #6ECFFE;
$alert-danger: #DC3545;
$icon-color: #8D8D8D;
$hover-color: #E11C4B;
$transition: 0.3s ease;
$box-shadow: 0px 6px 30px 4px rgba(32, 32, 32, 0.1);
$font-color1 :#333333;
$font-color2 : #939393;
$roboto-font: 'Roboto', sans-serif;
$border-color: #E8E8E8;
$black: #333333;
$footer: #F4F4F4;