extends layouts/default

block vars
    -
        const page = {
            title: 'tech.html'
        };


block main
    .row.g-0
        .col-xl-10.order-1.order-xl-0
            .container
                include pages/tech/main
        .col-xl-2.gx-0.bg-light.order-0.order-xl-1
            include partials/_aside


