section.mb-5#counter
    h3.mt-5.mb-3.mt-xl-0.mb-xl-2 Counter
    label.form-label(for="counter1") Input for counter
    div
        .counter.js-counter
            .counter-minus
            .counter-plus
            input.form-control.counter-input#counter1(value="888" data-min="1" )