section.mb-5#datapicker
    .row
        .col-md-6.col-lg-4
            h3.mt-5.mb-3.mt-xl-0.mb-xl-2  Datepicker
            label.form-label(for="inputDate1") Input for datepicker
            .datepicker-wrapper
                input.form-control.js-datepicker#inputDate1(autocomplete="off")