section.mb-5#file-types
    h3.mt-5.mb-3.mt-xl-0.mb-xl-2 File types
    .file-icons
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-doc")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-pdf")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-xls")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-zip")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-rar")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-txt")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-jpg")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-mp4")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-png")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-gif")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-mp3")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-ppt")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-xlsx")
        a.file-icon(href="#")
            svg
                use(xlink:href="images/sprite_build.svg#file-docx")