section.pb-5#hover-response
    h3.mt-5.mb-3.mt-xl-0.mb-xl-2 Реакция на наведение
    .row
        .col-md-6.col-lg-4
            a.gallery.js-mp-image(href="images/architecture-4431284_1920.jpg")
                img.img-fluid(src="images/architecture-4431284_1920.jpg")