section.mb-5#links
    h3.bd-heading.mt-5.mb-3.mt-xl-0.mb-xl-2 Links
    .row
        .col-md-4.col-lg-2
            .mt-4
                a(href="#") Узнать больше
            .mt-4
                a.fake(href="#") Узнать больше
            .bg-dark.p-2.mt-4
                .mb-4
                    a.light(href="#") Узнать больше
                .mt-4
                    a.light.fake(href="#") Узнать больше