section.pb-5#map
    h2.mt-5.mb-3.mt-xl-0.mb-xl-2 Карты
    .js-map(style="height:430px" data-map="{\"center\":[57.632284,39.872793],\"iconData\":{\"iconLayout\": \"default#imageWithContent\",\"iconImageSize\": [39, 45],\"iconImageOffset\": [-15, -25]},\"placemarks\":[{\"coordinates\":[57.632284,39.872793],\"balloonContent\":\"<p class=\\\"text-small fw-600\\\">Россия, Ярославль</p><p class=\\\"text-small\\\">Некрасова 41, офис 326</p>\"}]}")