ection.pb-5#stubs
    .row
        .col-md-6.col-lg-7.mb-3.mb-lg-0
            h3.bd-heading.mt-5.mb-3.mt-xl-0.mb-xl-2 Stubs
            .row
                .col-lg-5.mb-3
                    img.img-fluid(src="images/stub.svg" alt="")

                .col-lg-7
                    img.img-fluid(src="images/stub-user.svg" alt="")