section.mb-5#media-icons
    h3.mt-5.mb-3.mt-xl-0.mb-xl-2 Social media icons
    .socs
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-vk")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-facebook")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-twitter")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-gplus")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-instagram")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-dropbox")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-pinterest")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-linkedin")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-youtube")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-vimeo")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-yandex")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-mailru")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-ok")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-yadisk")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-viber")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-whatsapp")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-telegram")
        a.soc(href="#" target="_blank")
            svg
                use(xlink:href="images/sprite_build.svg#soc-skype")