section.mb-5#tags
    h3.mt-5.mb-3.mt-xl-0.mb-xl-2 Tags
    ul.filter-items
        li.filter-item
            span.filter-item__name Primary
            a.filter-item__close(href="javascript:void(0);")
                svg
                    use(xlink:href="images/sprite_build.svg#close")

        li.filter-item
            span.filter-item__name Пол: Мужские
            a.filter-item__close(href="javascript:void(0);")
                svg
                    use(xlink:href="images/sprite_build.svg#close")

        li.filter-item
            span.filter-item__name Бренд: Balenciaga
            a.filter-item__close(href="javascript:void(0);")
                svg
                    use(xlink:href="images/sprite_build.svg#close")

        li.filter-item
            span.filter-item__name В наличии
            a.filter-item__close(href="javascript:void(0);")
                svg
                    use(xlink:href="images/sprite_build.svg#close")

        li.filter-item.filter-item_reset
            a(href="javascript:void(0);") Очистить фильтр

    a.tag(href="#") Primary
        .tag-badge 50