aside.bd-aside.sticky-xl-top.text-muted.align-self-start.mb-3.mb-xl-5.px-2
    h2.h6.pt-4.pb-3.mb-4.border-bottom On this page
    nav#toc.small
        ul.list-unstyled
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#contents-collapse' aria-controls='contents-collapse') Contents
                ul#contents-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#typography') Typography
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#images') Images
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#tables') Tables
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#figures') Figures
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#forms-collapse' aria-controls='forms-collapse') Forms
                ul#forms-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#overview') Overview
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#disabled-forms') Disabled forms
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#sizing') Sizing
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#input-group') Input group
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#floating-labels') Floating labels
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#components-collapse' aria-controls='components-collapse') Components
                ul#components-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#accordion') Accordion
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#alerts') Alerts
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#badge') Badge
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#breadcrumb') Breadcrumb
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#buttons') Buttons
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#button-group') Button group
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#card') Card
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#carousel') Carousel
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#dropdowns') Dropdowns
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#list-group') List group
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#modal') Modal
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#navs') Navs
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#navbar') Navbar
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#pagination') Pagination
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#popovers') Popovers
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#progress') Progress
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#scrollspy') Scrollspy
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#spinners') Spinners
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#toasts') Toasts
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#tooltips') Tooltips
    h2.h6.pt-4.pb-3.mb-4.border-bottom Individ
    nav#individ.small
        ul.list-unstyled
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#individ-content-collapse' aria-controls='contents-collapse') Content
                ul#individ-content-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#links') Links
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#lists') Lists
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#stubs') Stubs
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#back') Back
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#individ-form-collapse' aria-controls='contents-collapse') Forms
                ul#individ-form-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#select') Select
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#datapicker') Datapicker
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#file-input') File input
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#custom-group') Custom group
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#counter') Counter
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#ajax') Ajax form and validation
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#individ-icons-collapse' aria-controls='contents-collapse') Icons
                ul#individ-icons-collapse.list-unstyled.ps-3.collapse
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#media-icons') Social media icons
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#file-types') File types
            li.my-2
                button.btn.d-inline-flex.align-items-center.collapsed(data-bs-toggle='collapse' aria-expanded='false' data-bs-target='#individ-components-collapse' aria-controls='contents-collapse') Components
                ul#individ-components-collapse.list-unstyled.ps-3.collapse

                    li
                        a.d-inline-flex.align-items-center.rounded(href='#hover-response') Hover response
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#tags') Tags
                    li
                        a.d-inline-flex.align-items-center.rounded(href='#map') Map


