footer.footer
	.container
		.footer_top
			.footer_links 
				.footer_nav
					a(href="javascript:void(0)") Главная
					a(href="javascript:void(0)") Акции
					a(href="javascript:void(0)") Магазины
					a(href="javascript:void(0)") Профиль
				.footer_contacts
					a.footer_contacts__link(href="tel:88000000000")
						svg 
							use(xlink:href="images/sprite_build.svg#phoneIcon")
						span 8 (800) 000 00 
					a.footer_contacts__link(href="mailto:electrocity.ru")
						svg 
							use(xlink:href="images/sprite_build.svg#mailIcon")
						span electrocity.ru
			.footer_social 
				a.soc(href="#" target="_blank")
					svg
						use(xlink:href="images/sprite_build.svg#soc-vk")
				a.soc(href="#" target="_blank")
					svg
						use(xlink:href="images/sprite_build.svg#soc-youtube")
				a.soc(href="#" target="_blank")
					svg
						use(xlink:href="images/sprite_build.svg#soc-telegram")
		.footer_bottom
			span.footer_bottom__licence © 2014-2021 «ЭЛЕКТРОСИТИ». Все права защищены

	a.back-to-top.js-back-to-top(href="javascript:void(0);") Вверх